<html>
	<head>
		<title>cc-loop rows</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.06-loop/circular.loop.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			var Model = {	
				colors	: [
					{
							"colorName":"red",
							"hexValue":"#f00"
					},
					{
							"colorName":"green",
							"hexValue":"#0f0"
					},
					{
							"colorName":"blue",
							"hexValue":"#00f"
					},
					{
							"colorName":"cyan",
							"hexValue":"#0ff"
					},
					{
							"colorName":"magenta",
							"hexValue":"#f0f"
					},
					{
							"colorName":"yellow",
							"hexValue":"#ff0"
					},
					{
							"colorName":"black",
							"hexValue":"#000"
					}
				],
				rates 	: [
        		{ curr :"AED",rate:3.67365 },
        		{ curr :"AFN",rate:48.3775 },
        		{ curr :"ALL",rate:110.318335 },
        		{ curr :"AMD",rate:409.144998 },
        		{ curr :"YER",rate:215.043059 },
        		{ curr :"ZAR",rate:8.428236 },
        		{ curr :"ZMK",rate:4997.53 } ,
        		{ curr :"ZWL",rate:322.355011 }
    		],
    		items	: []
    
			};
			Model.items = Model.colors;
			
			Circular.init({
				log : {
					debug : true
				},
				engine : {
					debug : false
				},
				registry : {
					debug : false
				},
				watchdog : {
					debug : false
				}
				
			});

				
		</script>
		<style type="text/css">
			.cc-loop-odd { background-color:#eee; }
			.cc-loop-even .cc-loop-odd { background-color:white; }
			th { background-color:#779; color:white; }
		</style>
	</head>
	<body cc-root cc-context="Model">
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				<code>cc-loop</code> has some additional tags and classes
				to manage row handling. Elements with attributes 
				<code>cc-first</code> and <code>cc-last</code> will only
				be display for the first and the last element in the loop.
				Elements with tag <code>cc-loop-index="3"</code> will only
				be displayed on the 3rd index of the loop. Elements with
				tags <code>cc-loop-odd</code> and <code>cc-loop-even</code>
				will only be displayed in odd and even entries of the loop.<br><br>
				
				Similarly, cc-loop adds some css classes to handle row styling:
				<code>.cc-loop-first,.cc-loop-last,.cc-loop-odd,.cc-loop-even</code>.
				
				
			</section>
			
			<section id="demo">
				<form id="controls">
					<label>Show me</label>
					<select onchange="Model.items = Model[$(this).val()]">
						<option value="colors">Colors</option>
						<option value="rates">Rates</option>
					</select>
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<table width="50%">
	<tbody cc-loop="{{#items}}">
		<tr cc-loop-first>
			<th>key</th>
			<th>value</th>
		</tr>
		<tr cc-loop="{{#this}}">
			<td>{{#this}} <sup cc-loop-index="1">*</sup></td>
		</tr>
		<tr cc-loop-last>
			<th colspan="2"><small>* taken from reliable sources</small></th>
		</tr>
	</tbody>
</table>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>