<html>
	<head>
		<title>@eject:flags</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		<script>
			new CircularModule('test',{
				attributes		: {
					'cc-one' : {
						in		: function(ccattr,ccnode,node) {
							this.process('one',ccattr,node,ccnode);
						}
					},
					'cc-two' : {
						in		: function(ccattr,ccnode,node) {
							this.process('two',ccattr,node,ccnode);
						}
					},
					'cc-three' : {
						in		: function(ccattr,ccnode,node) {
							this.process('three',ccattr,node,ccnode);
						}
					}
				},
				process	: function(flag,ccattr,node,ccnode) {
					var ejected = Circular.parser.boolish(ccattr.content.value)
					if (ejected) Circular.eject.flag(node,ccnode,flag);
					else Circular.eject.unflag(node,ccnode,flag);
				}
			});
			
			Circular.init({
				log : {
					debug : true
				}
			});
			
		</script>
		
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
			
				You can call 'eject' from your own module using 
				<code>Circular.eject.flag()</code> and <code>Circular.eject.unflag()</code>.<br><br>
				
				The reason you 'flag' a node for ejection, instead of ejecting it right away,
				is because multiple attributes 
				can operate on the same node, and the node should remain ejected as long
				as any of the attributes want it to be ejected. This pages defines a module 'test'
				with three attributes, that all do the same:
<xmp>
new CircularModule('test',{
	attributes		: {
		'cc-one' : {
			in		: function(ccattr,ccnode,node) {
				this.process('one',ccattr,node,ccnode);
			}
		},
		'cc-two' : {
			in		: function(ccattr,ccnode,node) {
				this.process('two',ccattr,node,ccnode);
			}
		},
		'cc-three' : {
			in		: function(ccattr,ccnode,node) {
				this.process('three',ccattr,node,ccnode);
			}
		}
	},
	process	: function(flag,ccattr,node,ccnode) {
		var ejected = Circular.parser.boolish(ccattr.content.value)
		if (ejected) Circular.eject.flag(node,ccnode,flag);
		else Circular.eject.unflag(node,ccnode,flag);
	}
});
</xmp>
				If you want two attributes to operate on the same source, use the same flag.
				The flag that is printed in the comment is the flag that first ejected 
				the node - not necessarily the flag that is currently keeping it ejected.
			</section>
			
			<section id="demo">
			
				<form id="controls">
					<input type="checkbox"  onclick="$('#output').attr('cc-one',this.checked)">Eject One
					<input type="checkbox"  onclick="$('#output').attr('cc-two',this.checked)">Eject Two
					<input type="checkbox"  onclick="$('#output').attr('cc-three',this.checked)">Eject Three
				</form>
				
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<p id="output" cc-one="false" cc-two="false" cc-three="false">
	This should be ejected as soon as any one of the three attributes are boolishy true
</p>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>