<html>
	<head>
		<title>cc-hide,cc-show</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.01-hide/circular.hide.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			Model	= {
				date	: new Date(),
				hour 	: 0,
				
			};
			
			Control = { 
				setHour	: function(h) {
					if (h || h===0) Model.date.setHours(h);
					Model.hour = Model.date.getHours();
					Circular.log.write(Model.date);
				},
				reset		: function() {
					Control.setHour();
					$('#demo select option').each(function() {
						var val = $(this).attr('value');
						if (val<=Model.hour) $('#demo select').val(val);
					});
					$('#demo select').trigger('change');
				}
			}
			
			
			Circular.init({
				log : {
					debug : true
				}
			});

			$(document).ready(function() {
				Control.reset();
			});

				
		</script>
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				<code>cc-hide</code> and <code>cc-show</code> do what you expect:
				they hide and show a node, using css. <br>
				<code>cc-hide</code> is processed before the node if traversed. 
				If a node is hidden, Circular doesn't bother processing its children either.
				<code>cc-show</code> is processed after the node is traversed.
				
			</section>
			
			<section id="demo" cc-context="Control">
				<form id="controls">
					<label>Set the time:</label>
					<select onchange="{{#setHour($this.val())|pi}}">
						<option value="0">00:00</option>
						<option value="4">04:00</option>
						<option value="8">08:00</option>
						<option value="12">12:00</option>
						<option value="16">16:00</option>
						<option value="20">20:00</option>
					</select>
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox  cc-context="Model">
<small>{{#hour}}:00 hours</small>
<div class="daytime" cc-hide="{{#hour<6}}">
	<h1 cc-show="{{#hour<12}}">Good Morning</h1>
	<h1 cc-show="{{#hour>=12 && #hour<18}}">Good Afternoon</h1>
	<h1 cc-show="{{#hour>=18}}">Good Evening</h1>
</div>
<div class="nighttime" cc-hide="{{#hour>=6}}">
	<h1>Good Night</h1>
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>