<html>
	<head>
		<title>@parser:flags</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		<script>
			var Model	= {
				poetry 		: "The light of the ashes"
			};
			
			function showresults() {
				setTimeout(function() {
					$('[data-message]').each(function() {
						var res = Circular.registry.get(this,true).attributes['data-message'].content.value;
						$(this).html('<code>'+res+'</code>');
					});
				},500);
			}
			
			Circular.init({
				log : {
					debug : true
				}
			});
			
			$(document).ready(function() {	
				showresults();
			});
			
		</script>
		
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
			
				Whenever an <code>{{expression}}</code> is processed, several steps are taken 
				which can be configured using flags, like this: <br>
				<code>&lt;div style="{{color:@brush.foreground|pi}}"></code>.<br>
				In the above example, the flags are 'pi'. When no flags are passed, all flags are on.
				These are the flags available:
				<ul>
					<li>
						<b>s:silent</b><br>
						If evaluating or parsing the expression throws an error,
						fail silent. Otherwise, rethrow the error.
					</li>
					<li>
						<b>p:parse</b><br>
						Perform string operations on the expression to resolve all references to 
						<code>#this</code>,<code>$this</code>,<code>#</code> and <code>@</code>.
					</li>
					<li>
						<b>e:evaluate</b><br>
						Evaluate the (optionally parsed) expression - much like javascripts <code>eval</code>.
					</li>
					<li>					
						<b>w:watch</b><br>
						Watch all variables used in the expression for changes
					</li>
					<li>
						<b>i:insert</b><br>
						Re-insert the result of the all operations back into
						the dom attribute where it came from. 
					</li>
					
					
					
				</ul>
				The order of the flags is irrelevant. 
				When no flags are passed, all flags are assumed enabled, 
				so <code>{{gurgle()}}</code> equals <code>{{gurgle()|spewi}}</code>.
				<br><br>
				
				Leave the 's' flag out if the expression isn't behaving the way
				you expect. Maybe you made a typo, or a variable hasn't been
				defined yet, so try have it throw errors.<br><br>
				
				You could leave the 'p' flag out if there is nothing to parse, or if you get
				into trouble with, for example, strings that contain # or @<br><br>
				
				Leaving the 'e' flag out can be useful if you don't want the expression to
				be evaluated when parsed, like in event handlers: <br>
				<code>&lt;a onclick="{{alert('#name')|swip}}">what's my name&lt;/a></code><br>
				If we would add the flag 'e' in that code, circular would alert #name (or its value)
				while parsing the expression, not when clicking on the link.
				<br><br>
				
				You could leave the 'w' flag out if the expressions result will not change; that 
				will save performance and memory overhead.<br><br>
				
				If you leave the 'i' flag out,
				the original expression will remain in the attribute. The parsed, evaluated 
				and watched results of the expression are still available in the @registry,
				as 'ccattribute metadata'. Note that if you define your own attribute,
				you can also use the 'insert' method in your definition to customize
				how the result is re-inserted into the dom.
				

			</section>
			
			<section id="demo">
			
				<form id="controls">
				
					<p>
						watch the 'processed' tab to see attribute content. 
						change the message to see result values from @registry change.
					</p>
					<label>message</label>
					<input type="text" value="The light of the ashes" onchange="Model.poetry=this.value">
					
					<button type="button" onclick="showresults()">
						show result value metadata
					</button>
					
				</form>
				
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox cc-context="Model">
<p>
	<b>parse:</b>
	<i data-message="{{#poetry|p}}"></i><br>
	<br>
	<b>parse,insert:</b>
	<i data-message="{{#poetry|pi}}"></i><br>
	<b>parse,insert,watch:</b>
	<i data-message="{{#poetry|piw}}"></i><br>
	<b>silent,parse,insert,watch:</b>
	<i data-message="{{#poetry|spiw}}"></i><br>
	<br>
	<b>parse,evaluate:</b>
	<i data-message="{{#poetry|pe}}"></i><br>
	<b>parse,evaluate,watch:</b>
	<i data-message="{{#poetry|pew}}"></i><br>
	<b>silent,parse,evaluate,watch:</b>
	<i data-message="{{#poetry|spew}}"></i><br>
	<br>
	<b>parse,evaluate,insert:</b>
	<i data-message="{{#poetry|pei}}"></i><br>
	<b>parse,evaluate,insert,watch:</b>
	<i data-message="{{#poetry|pewi}}"></i><br>
	<b>silent,parse,evaluate,insert,watch:</b>
	<i data-message="{{#poetry}}"></i><br>
</p>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>