<html>
	<head>
		<title>@parser.parse</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		<script>
			var Model	= {
				result 		: {
					processed : '',
					flags 		: {}
				}
			};
			var Control = {
				exec	: function(form) {
					var expr 	= form.elements.expression.value;
					var ctx 	= form.elements.context.value;
					var checkflags = form.elements.checkflags.checked;
					if (checkflags) {
						Model.result = Circular.parser.parse(expr,ctx,true);
					} else {
						Model.result = {
							processed : Circular.parser.parse(expr,ctx),
							flags	: {
								parse			: '',
								evaluate	: '',
								watch			: '',
								insert		: ''
							}
						}
					}
				}
			};
			
			Circular.init({
				log : {
					debug : true
				}
			});
			
		</script>
		
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
			
				<code>@parser.parse</code> parses an <code>{{expression}}</code>
				in a context.
				This is just text manipulation - it doesn't check if 
				it's valid code, and it doesn't evaluate anything either.
				

			</section>
			
			<section id="demo">
			
				<form id="controls">
				
					<label>expression</label>
					{{<input type="text" name="expression" value="@sing(#this,#song)|wip">}}
					
					<label>context</label>
					<input type="text" name="context" value="Happy">
					
					<input type="checkbox"  checked name="checkflags">checkflags
					
					<button type="button" onclick="Control.exec(this.form)">
						Circular.parser.parse()
					</button>
					
				</form>
				
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox cc-context="Model">
<p>
	<b>processed:</b><br>
	{{#result.processed}}<br><br>
	<b>flags:</b><br>
	parse: {{#result.flags.parse}}<br>
	evaluate: {{#result.flags.evaluate}}<br>
	watch: {{#result.flags.watch}}<br>
	insert: {{#result.flags.insert}}<br>
</p>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>