<html>
	<head>
		<title>@content</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			

		<script>
			var Model = {
				thing	: 'heart'
			}
		</script>
		
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				The attribute <code>cc-content</code> copies the value
				of the attribute into the node, overwriting anything inside it.<br><br>
				This is mainly useful if you have <code>{{expressions}}</code> in the
				attribute. Though you can use expressions in text content,
				they will shortly show up before the document is parsed
				by Circular. Also, expressions inside text content are replaced
				by <code>&lt;span></code> elements with a cc-content attribute anyway .. so ..
				might as well use cc-content yourself.
				
			</section>
			
			<section id="demo">
			
				<form id="controls">
					Tell wild thing what's singing: <br>
					<select onchange="Model.thing=$(this).val()">
						<option>heart</option>
						<option>mouth</option>
						<option>ears</option>
					</select>
				</form>

				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<div cc-context="Model">
	<p>Wild thing</p>
	<p cc-content="You make my {{#thing}} sing"></p>
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>