<html>
	<head>
		<title>cc-input-dir</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.02-if/circular.if.js"></script>
		<script src="../../base/circular.base.06-loop/circular.loop.js"></script>
		<script src="../../base/circular.base.08-input/circular.input.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			var Control = { 
				// dynamic stuff
				write 	: {},
				read	: {},
				load	: function(where,preset) {
					for (var key in this.presets[preset]) {
						this[where][key]=this.presets[preset][key];
					}
					for (var key in this[where]) {
						this[where][key]=this.presets[preset][key];
					}
					$('#controls #'+where).val(preset);
				},
				presets : {
					'empty' : {},
					'prefilled' : {
						mystring 			: 'one,two,tree',
						mynumber 			: 123,
						myboolean 		: false
					},
					'mixedup' : {
						mystring 			: undefined,
						mynumber 			: null,
						myboolean 		: 'dunno'
					},
					'confused' : {
						mystring 			: 123,
						mynumber 			: function() {},
						myboolean 		: 'yes'
					}
				}
			};
				
			
			Circular.init({
				log : {
					debug : true
				},
				engine : {
					debug : false
				},
				registry : {
					debug : false
				},
				watchdog : {
					debug : false
				}
				
			});

			$(document).ready(function() {
				Control.load('write','empty');
				Control.load('read','prefilled');
			});

				
		</script>
		<style type="text/css">
			#form-input { float:left; width:40%; padding:0 1%; border-right:1px solid black; }
			#form-output { float:left; width:40%; padding:0 1%;  }
			.form-item {
				height:3em; padding:.5em 0;
				border-top:1px solid #ccc;
			}
			.form-item label {
				display:inline-block;
				min-width:10em;
			}
			select[multiple], textarea {
				vertical-align:top;
			}
		</style>
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				By default, cc-input elements both read the targets
				value into the input element and write changes in 
				the input element back to the target.<br><br>
				Using <code>cc-input-dir</code>, you can set it 
				to only <code>read</code> or <code>write</code>.
				
				
				
			</section>
			
			<section id="demo">
				<form id="controls">
					<label>set read values preset</label>
					<select id="read" onchange="Control.load('read',$(this).val())" 
						cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select><br>
					<label>set write values preset</label>
					<select id="write" onchange="Control.load('write',$(this).val())" 
						cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select><br>
					
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<div id="form-input" cc-context="Control">
	<form onsubmit="return false">
	
		
		
		<fieldset cc-context="{{#read}}">
			<caption>read only:</caption>
			<div class="form-item">
				<label>string:</label>
				<input type="text" name="mystring" 
					cc-input cc-input-dir="read">
			</div>
			<div class="form-item">
				<label>number:</label>
				<input type="text" name="mynumber" 
					cc-input cc-input-dir="read">
			</div>
			<div class="form-item">
				<label>boolean:</label>
				<input type="text" name="myboolean" 
					cc-input cc-input-dir="read">
			</div>
			
		</fieldset>		
	
		<fieldset cc-context="{{#write}}">
			<caption>write only:</caption>
			<div class="form-item">
				<label>string:</label>
				<input type="text" name="mystring" 
					cc-input cc-input-dir="write">
			</div>
			<div class="form-item">
				<label>number:</label>
				<input type="text" name="mynumber" 
					cc-input cc-input-dir="write">
			</div>
			<div class="form-item">
				<label>boolean:</label>
				<input type="text" name="myboolean" 
					cc-input cc-input-dir="write">
			</div>
			
		</fieldset>		
		
	</form>
</div>
<div id="form-output" cc-context="Control">
	
	
	<fieldset cc-context="{{#read}}">
		<caption>values for reading:</caption>
		<div class="form-item">
			<label>mystring:</label> {{#mystring}}<br>
		</div>
		<div class="form-item">
			<label>mynumber:</label> {{#mynumber}}<br>
		</div>
		<div class="form-item">
			<label>myboolean:</label> {{#myboolean}}<br>
		</div>
		
	</fieldset>
	
	<fieldset cc-context="{{#write}}">
		<caption>values for writing:</caption>
		<div class="form-item">
			<label>mystring:</label> {{#mystring}}<br>
		</div>
		<div class="form-item">
			<label>mynumber:</label> {{#mynumber}}<br>
		</div>
		<div class="form-item">
			<label>myboolean:</label> {{#myboolean}}<br>
		</div>
		
	</fieldset>
	
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>