<html>
	<head>
		<title>cc-input-type</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.02-if/circular.if.js"></script>
		<script src="../../base/circular.base.06-loop/circular.loop.js"></script>
		<script src="../../base/circular.base.08-input/circular.input.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			var Control = { 
				// dynamic stuff
				defined 	: {},
				inferred	: {},
				load	: function(where,preset) {
					for (var key in this.presets[preset]) {
						this[where][key]=this.presets[preset][key];
					}
					$('#controls #'+where).val(preset);
				},
				presets : {
					'empty' : {
						mystring 			: undefined,
						mynumber 			: null,
	//				myboolean 		: true,
	//				myobject			: {oclock:'rock'}
					},
					'filled' : {
						mystring 			: 'one,two,tree',
						mynumber 			: 123,
						myboolean 		: false,
						myobject			: {oclock:'rock'}
					}
				}
			};
				
			
			Circular.init({
				log : {
					debug : true
				},
				engine : {
					debug : false
				},
				registry : {
					debug : false
				},
				watchdog : {
					debug : false
				}
				
			});

			$(document).ready(function() {
				Control.load('defined','empty');
				Control.load('inferred','filled');
			});

				
		</script>
		<style type="text/css">
			#form-input { float:left; width:40%; padding:0 1%; border-right:1px solid black; }
			#form-output { float:left; width:40%; padding:0 1%;  }
			.form-item {
				height:3em; padding:.5em 0;
				border-top:1px solid #ccc;
			}
			.form-item label {
				display:inline-block;
				min-width:10em;
			}
			select[multiple], textarea {
				vertical-align:top;
			}
		</style>
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				HTML input elements by nature just handle strings. We need a way
				to map these strings to javascript variables. After all, in javascript
				<code>'1'+1==11</code> while <code>1+1==2</code>. @input recognizes
				3 data types: <code>string</code>,<code>number</code> and <code>boolean</code>.
				You can set it on a node using the <code>cc-input-type</code> attribute:
<xmp><input name="mynumber" cc-input cc-input-type="number"></xmp>

				When a cc-input element tries to read its initial value,
				if an input-type attribute is available, the value is mapped 
				to that type before it is converted to a string for use in 
				the HTML dom.<br><br>
				
				Anytime a cc-input element tries to set a target value,
				it checks the input type again, and converts the HTML dom string
				to that type. If a <code>cc-input-type</code> attribute
				is set, that is used. Otherwise, the input type is inferred from
				the targets (original) value. If that does not resolve to string,
				number or boolean, <code>string</code> is assumed.<br>
				
			</section>
			
			<section id="demo">
				<form id="controls">
					<label>set inferred values preset</label>
					<select id="inferred" onchange="Control.load('inferred',$(this).val())" 
						cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select><br>
					<label>set defined values preset</label>
					<select id="defined" onchange="Control.load('defined',$(this).val())" 
						cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select><br>
					
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<div id="form-input" cc-context="Control">
	<form onsubmit="return false">
	
		
		
		<fieldset cc-context="{{#inferred}}">
			<caption>inferred (by target value):</caption>
			<div class="form-item">
				<label>string:</label>
				<input type="text" name="mystring" cc-input>
			</div>
			<div class="form-item">
				<label>number:</label>
				<input type="text" name="mynumber" cc-input>
			</div>
			<div class="form-item">
				<label>boolean:</label>
				<input type="text" name="myboolean" cc-input>
			</div>
			
		</fieldset>		
	
		<fieldset cc-context="{{#defined}}">
			<caption>defined (using cc-input-type):</caption>
			<div class="form-item">
				<label>string:</label>
				<input type="text" name="mystring" 
					cc-input cc-input-type="string">
			</div>
			<div class="form-item">
				<label>number:</label>
				<input type="text" name="mynumber" 
					cc-input cc-input-type="number">
			</div>
			<div class="form-item">
				<label>boolean:</label>
				<input type="text" name="myboolean" 
					cc-input cc-input-type="boolean">
			</div>
			
		</fieldset>		
		
	</form>
</div>
<div id="form-output" cc-context="Control">
	
	
	<fieldset cc-context="{{#inferred}}">
		<caption>result (by target value):</caption>
		<div class="form-item">
			<label>string:</label> {{#mystring}}<br>
			<pre>mystring+1={{#mystring+1}}</pre>
		</div>
		<div class="form-item">
			<label>number:</label> {{#mynumber}}<br>
			<pre>mynumber+1={{#mynumber+1}}</pre>
		</div>
		<div class="form-item">
			<label>boolean:</label> {{#myboolean}}<br>
			<pre>(myboolean)?1:2={{(#myboolean)?1:2}}</pre>
		</div>
		
	</fieldset>
	
	<fieldset cc-context="{{#defined}}">
		<caption>result (using cc-input-type):</caption>
		<div class="form-item">
			<label>string:</label> {{#mystring}}<br>
			<pre>mystring+1={{#mystring+1}}</pre>
		</div>
		<div class="form-item">
			<label>number:</label> {{#mynumber}}<br>
			<pre>mynumber+1={{#mynumber+1}}</pre>
		</div>
		<div class="form-item">
			<label>boolean:</label> {{#myboolean}}<br>
			<pre>(myboolean)?1:2={{(#myboolean)?1:2}}</pre>
		</div>
		
	</fieldset>
	
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>