<html>
	<head>
		<title>cc-input</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.02-if/circular.if.js"></script>
		<script src="../../base/circular.base.06-loop/circular.loop.js"></script>
		<script src="../../base/circular.base.08-input/circular.input.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			var Control = { 
				// dynamic stuff
				values : {},
				load	: function(preset) {
					for (var key in this.presets[preset]) {
						this.values[key]=this.presets[preset][key];
					}
					for (var key in this.values) {
						this.values[key]=this.presets[preset][key];
					}
				},
				presets : {
					'empty'	: {},
					'somevalues'	: {
						mytext 			: 'one too many',
						myindexcheck: [],
						mymultisel	: ['one','two'],
						myoptions		: ['one'],
						mytextarea	: 'feliz navidad'
					},
					'allvalues' : {
						mytext 					: 'one, two, tree',
						mysinglecheck 	: 'one',
						mymulticheck 		: ['one'],
						myindexcheck 		: ['one'],
						myradio 				: 'two',
						mysinglesel			: 'one',
						mymultisel			: ['one'],
						myoptions				: ['one','two'],
						mytextarea			: 'ducks in a pond',
						myanything			: 'around the clock'
					}
				}
			};
			
		
				
			
			Circular.init({
				log : {
					debug : true
				},
				engine : {
					debug : false
				},
				registry : {
					debug : false
				},
				watchdog : {
					debug : false
				}
				
			});

				
		</script>
		<style type="text/css">
			#form-input { float:left; width:40%; padding:0 1%; border-right:1px solid black; }
			#form-output { float:left; width:40%; padding:0 1%;  }
			.form-item {
				height:3em; padding:.5em 0;
				border-top:1px solid #ccc;
			}
			.form-item label {
				display:inline-block;
				min-width:10em;
			}
			select[multiple], textarea {
				vertical-align:top;
			}
		</style>
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				The <code>cc-input</code> attribute turns an element into
				a widget that sets a javascript value.
				The below form shows the simplest way to manipulate values - by only using 
				a <code>cc-input</code> attribute on input elements inside a form, 
				or using <code>cc-input-value</code> on any element.
			</section>
			
			<section id="demo">
				<form id="controls">
					<label>select a preset</label>
					<select onchange="Control.load($(this).val())" cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select>
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<div id="form-input" cc-context="Control.values">
	<form onsubmit="return false">
		<div class="form-item">
			<label>text:</label>
			<input type="text" name="mytext" cc-input>
		</div>
		<div class="form-item">
			<label>single checkbox:</label>
			<input type="checkbox" value="one" name="mysinglecheck" cc-input>
			one
		</div>
		<div class="form-item">
			<label>checkboxes:</label>
			<input type="checkbox" value="one" name="mymulticheck" cc-input>
			one
			<input type="checkbox" value="two" name="mymulticheck" cc-input>
			two
		</div>
		<div class="form-item">
			<label>index checkboxes:</label>
			<input type="checkbox" value="one" name="myindexcheck[0]" cc-input>
			one
			<input type="checkbox" value="two" name="myindexcheck[1]" cc-input>
			two
		</div>
		<div class="form-item">
			<label>radio buttons:</label>
			<input type="radio" value="one" name="myradio" cc-input>
			one
			<input type="radio" value="two" name="myradio" cc-input>
			two
			
		</div>
		<div class="form-item">
			<label>single select:</label>
			<select name="mysinglesel" cc-input>
				<option>one</option>
				<option>two</option>
			</select>
		</div>
		<div class="form-item">
			<label>multiple select:</label>
			<select name="mymultisel" size="2" multiple cc-input>
				<option>one</option>
				<option>two</option>
			</select>
		</div>
		<div class="form-item">
			<label>options:</label>
			<select name="myoptions" size="2" multiple>
				<option cc-input>one</option>
				<option cc-input>two</option>
			</select>
		</div>
		<div class="form-item">
			<label>anything:</label>
			<a cc-input="{{#myanything}}" cc-input-value="one,two,many">click me</a>
		</div>
		<div class="form-item">
			<label>textarea:</label>
			<textarea name="mytextarea" rows="2"  cc-input></textarea>
		</div>
		
	</form>
</div>
<div id="form-output" cc-context="Control.values">
	<div class="form-item">
		<label>text:</label> {{#mytext}}
	</div>
	<div class="form-item">
		<label>single checkbox:</label> {{#mysinglecheck}}
	</div>
	<div class="form-item">
		<label>checkboxes:</label> 
		[{{#mymulticheck?#mymulticheck.join(','):''}}]
	</div>
	
	<div class="form-item">
		<label>index checkboxes:</label> 
		[{{#myindexcheck[0]}},{{#myindexcheck[1]}}]
	</div>
	
	<div class="form-item">
		<label>radio buttons:</label> {{#myradio}}
	</div>
	<div class="form-item">
		<label>single select:</label> {{#mysinglesel}}
	</div>
	<div class="form-item">
		<label>multiple select:</label> 
		[{{#mymultisel?#mymultisel.join(','):''}}]
	</div>
	<div class="form-item">
		<label>options:</label> 
		[{{#myoptions[0]}},{{#myoptions[1]}}]
	</div>
	<div class="form-item">
		<label>anything:</label> {{#myanything}}
	</div>
	<div class="form-item">
		<label>textarea:</label> <pre>{{#mytextarea}}</pre>
	</div>
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>