<html>
	<head>
		<title>cc-input defined</title>
		
		<!-- build:remove -->
		<script src="../../../vendor/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../vendor/node_modules/esprima/dist/esprima.js"></script>
		<script src="../../../vendor/node_modules/observe-js/src/observe.js"></script>
		<script src="../../core/circular.core.00/circular.core.js"></script>
		<script src="../../core/circular.core.01-modules/circular.modules.js"></script>
		<script src="../../core/circular.core.02-log/circular.log.js"></script>
		<script src="../../core/circular.core.03-queue/circular.queue.js"></script>
		<script src="../../core/circular.core.04-parser/circular.parser.js"></script>
		<script src="../../core/circular.core.05-context/circular.context.js"></script>
		<script src="../../core/circular.core.06-content/circular.content.js"></script>
		<script src="../../core/circular.core.07-eject/circular.eject.js"></script>
		<script src="../../core/circular.core.08-registry/circular.registry.js"></script>
		<script src="../../core/circular.core.09-engine/circular.engine.js"></script>
		<script src="../../core/circular.core.10-watchdog/circular.watchdog.js"></script>
		
		<script src="../../base/circular.base.02-if/circular.if.js"></script>
		<script src="../../base/circular.base.06-loop/circular.loop.js"></script>
		<script src="../../base/circular.base.08-input/circular.input.js"></script>
		<script src="../../base/circular.base.04-include/circular.include.js"></script>
		<script src="../../contrib/circular.srcbox/circular.srcbox.js"></script>
		
		<link rel="stylesheet" href="../../assets/docs.css">	
		
		<!-- /build -->
		
		
		<!-- build:template
			<% if (environment === 'dist') { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="../../../js/circular.min.js"></script>
				<script src="../../../js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="../../assets/docs.css">	
			<% } else { %>
				<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.min.js"></script>
				<script src="http://circularjs.net/<%= release %>/js/circular.srcbox.js"></script>
				<link rel="stylesheet" href="http://circularjs.net/<%= release %>/docs/assets/docs.css">	
			<% } %>
		/build -->
			
		

		<script>
		
			var Control = { 
				// dynamic stuff
				values : {},
				load	: function(preset) {
					for (var key in this.presets[preset]) {
						this.values[key]=this.presets[preset][key];
					}
					for (var key in this.values) {
						this.values[key]=this.presets[preset][key];
					}
				},
				presets : {
					'empty'	: {},
					'feliz navidad'	: {
						mytext 			: 'one too many',
						mymultisel	: ['one','two'],
						mytextarea	: 'feliz navidad'
					},
					'ducks in a pond' : {
						mytext 						: 'one, two, tree',
						mysinglecheck 		: 'one',
						mymulticheck 			: ['one'],
						myradio 					: 'two',
						mysinglesel				: 'one',
						mymultisel				: ['one'],
						mytextarea				: 'ducks in a pond'
					}
				}
			};
			
		
				
			
			Circular.init({
				log : {
					debug : true
				},
				engine : {
					debug : false
				},
				registry : {
					debug : false
				},
				watchdog : {
					debug : false
				}
				
			});

				
		</script>
		<style type="text/css">
			#form-input { float:left; width:40%; padding:0 1%; border-right:1px solid black; }
			#form-output { float:left; width:40%; padding:0 1%;  }
			.form-item {
				height:3em; padding:.5em 0;
				border-top:1px solid #ccc;
			}
			.form-item label {
				display:inline-block;
				min-width:10em;
			}
			select[multiple], textarea {
				vertical-align:top;
			}
		</style>
	</head>
	<body cc-root>
		<!--cc:include("../../assets/header.inc")-->
		<article>

			<section id="about">
				This page checks how cc-input-type attributes behave for different
				input elements. All these elements have a <code>cc-input-type</code> set,
				so that is used when reading and setting the targets value.
			</section>
			
			<section id="demo">
				<form id="controls">
					<label>set cc-input-type</label>
					<select onchange="$('[cc-input]').attr('cc-input-type',$(this).val())" cc-loop="{{@input.mapping}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select>
					<label>select a preset</label>
					<select onchange="Control.load($(this).val())" cc-loop="{{Control.presets}}" cc-loop-each="key">
						<option>{{#this}}</option>
					</select>
				</form>
				<div id="results">
				
<!-- ....... -->		
<div cc-srcbox>
<div id="form-input" cc-context="Control.values">
	<form onsubmit="return false">
		<div class="form-item">
			<label>text:</label>
			<input type="text" name="mytext" cc-input cc-input-type="raw">
		</div>
		<div class="form-item">
			<label>single checkbox:</label>
			<input type="checkbox" value="one" name="mysinglecheck" cc-input cc-input-type="raw">
		</div>
		<div class="form-item">
			<label>checkboxes:</label>
			<input type="checkbox" value="one" name="mymulticheck" cc-input cc-input-type="raw">
			<input type="checkbox" value="two" name="mymulticheck" cc-input cc-input-type="raw">
		</div>
		<div class="form-item">
			<label>radio buttons:</label>
			<input type="radio" value="one" name="myradio" cc-input cc-input-type="raw">
			<input type="radio" value="two" name="myradio" cc-input cc-input-type="raw">
		</div>
		<div class="form-item">
			<label>single select:</label>
			<select name="mysinglesel" cc-input cc-input-type="raw">
				<option>one</option>
				<option>two</option>
			</select>
		</div>
		<div class="form-item">
			<label>multiple select:</label>
			<select name="mymultisel" size="2" multiple cc-input cc-input-type="raw">
				<option>one</option>
				<option>two</option>
			</select>
		</div>
		<div class="form-item">
			<label>anything:</label>
			<a cc-input="{{#myanything}}" cc-input-value="one,two,many" cc-input-type="raw">click me</a>
		</div>
		<div class="form-item">
			<label>textarea:</label>
			<textarea name="mytextarea" rows="2"  cc-input cc-input-type="raw"></textarea>
		</div>
		
	</form>
</div>
<div id="form-output" cc-context="Control.values">
	<div class="form-item">
		<label>text:</label> {{#mytext}}<br>
		<pre>{{typeof #mytext}}</pre>
	</div>
	<div class="form-item">
		<label>single checkbox:</label> {{#mysinglecheck}}
		<pre>{{typeof #mysinglecheck}}</pre>
	</div>
	<div class="form-item">
		<label>checkboxes:</label> 
		<span cc-if="{{#mymulticheck}}">[{{#mymulticheck?#mymulticheck.join(','):''}}]</span>
		<pre>{{typeof #mymulticheck}}</pre>
	</div>
	<div class="form-item">
		<label>radio buttons:</label> {{#myradio}}
		<pre>{{typeof #myradio}}</pre>
	</div>
	<div class="form-item">
		<label>single select:</label> {{#mysinglesel}}
		<pre>{{typeof #mysinglesel}}</pre>
	</div>
	<div class="form-item">
		<label>multiple select:</label> 
		<span cc-if="{{#mymultisel}}">[{{#mymultisel?#mymultisel.join(','):''}}]</span>
		<pre>{{typeof #mymultisel}}</pre>
	</div>
	<div class="form-item">
		<label>anything:</label> {{#myanything}}
		<pre>{{typeof #myanything}}</pre>
	</div>
	<div class="form-item">
		<label>textarea:</label> <pre>{{#mytextarea}}</pre>
		<pre>{{typeof #mytextarea}}</pre>
	</div>
</div>
</div>
<!-- ....... -->		


				</div>
				
			</section>
		</article>
		
		<!--cc:include("../../assets/footer.inc")-->
	</body>
</html>